.st-emotion-cache-ocqkz7.e1f1d6gn5,
[data-testid="stHorizontalBlock"] {
  border: 1px solid #ddd;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
  padding: 2em;
  border-radius: 0.5em;
}

[data-testid="stMetricLabel"] p {
  font-size: 18px;
  font-weight: regular;
}

[data-testid="stMetricValue"] {
  font-weight: regular;
}

.st-emotion-cache-0 e1f1d6gn0,
[data-testid="stVerticalBlockBorderWrapper"]:not(:last-child) {
  border: 1px solid #ddd;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
  padding: 2em;
  border-radius: 0.5em;
}
