[data-testid="stMetricLabel"] p {
  font-size: 18px;
  font-weight: regular;
}

[data-testid="stMetricValue"] {
  font-weight: regular;
}

[data-testid="stVerticalBlockBorderWrapper"]:not(:last-child) {
  border: 1px solid #ffffff6d;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
  padding: 2em;
  border-radius: 0.5em;
}

.savings-explainer {
  padding-right: 2em;
}

.signature p {
  font-size: 16px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}

.signature a {
  color: rgb(255, 94, 0);
  text-decoration: none;
}

.signature a:hover {
  text-shadow: 2px 2px 4px rgba(121, 121, 121, 0.5);
  color: rgb(255, 157, 0);
}

.header {
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
}

.header h1 {
  font-weight: regular;
  font-family: "montserrat-medium", sans-serif;
  background: linear-gradient(90deg, #00f260, #0575e6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -0.05em;
}

[data-baseweb="slider"] {
  color: #0575e6;
}

[role="slider"] {
  background-color: #0575e6;
}

div[data-baseweb="slider"] > div[data-testid="stTickBar"] {
  color: #00f260;
}
